.alert {
  user-select:none;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  -moz-user-select:none;
}

.bg-purple {
  background-color: #673ab7!important;
}

.bg-lock {
  background-color: #607d8b!important;
}